<div class="container-fluid bg-white" style="padding:60px;" >
    <h3>My Payment Methods</h3>
    <hr>
    <h5>Add A New Payment Method</h5>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-2 g-3 mt-3">
       <div class="col" > <div class="modal-content" style="height:200px;background-color: rgb(250 245 241);border:none"><h6 class="alert-text modalText">Debit/Credits Card</h6></div></div>
       <div class="col" > <div class="modal-content" style="height: 200px;background-color: rgb(229 248 255);border:none"><h6 class="alert-text modalText">Bank Transfer</h6></div></div>
    </div>   
</div>