<div class="purchasedelete">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Are you sure you want to exit the form?</h4>
    </div>
    <div class="modal-body">
        <!-- <div class="form-group">
            <label for="vendor">PLEASE SELECT A READON</label>
            <select class="form-control" id="reason" name="reason" [(ngModel)]="cancelReason.reason">
              <option disabled>
                  Select
              </option>
              <option value="Duplicate Order">Duplicate Order</option>
              <option value="Not Required Anymore">Not Required Anymore</option>
              <option value="Wrong Order">Wrong Order</option>
              <option value="Others">Others</option>
          </select>
        </div>
        <div class="form-group">
            <label for="vendor">COMMENTS</label>
            <textarea class="form-control" id="COMMENTS" rows="3" [(ngModel)]="cancelReason.comments"></textarea>
        </div> -->
    </div>
    <div class="modal-footer">
        <div class="footer-btns">
            <button type="button" class="btn btn-outline-secondary close-btn" (click)="no()">Exit Form</button>
            <button type="button" class="btn btn-primary" (click)="yes()"><span>Yes, Save Draft</span></button>
        </div>
    </div>
</div>