<!-- <div class="center unauthorized main" style="    overflow-y: hidden;overflow-x: hidden;">
    <p style="text-align:center;font-size: 30px;
    margin-top: 34vh;">You are Not Authrozised To Access This Page</p>
    
    <div class="row">
        <div class="col" style="text-align: center;">
            <button class="btn" style="background-color: #002E6E;color: white;" (click)="goBack()">Go Back</button>
        </div>
    </div>
</div> -->

<div class="containerFull loginBg">
       
      <div class="center unauthorized main" style="    overflow-y: hidden;overflow-x: hidden;">
    <p style="text-align:center;font-size: 30px;
    margin-top: 34vh;">You are Not Authrozised To Access This Page</p>
    
    <div class="row">
        <div class="col" style="text-align: center;">
            <button class="btn" style="background-color: #002E6E;color: white;" (click)="goBack()">Go Back</button>
        </div>
    </div>
</div>

    </div>