.filter {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profiles img {
  margin-right: -6px;
}

.col-md-4 {
  margin-top: 26px;
}

:root {
  --font1: "Heebo", sans-serif;
  --font2: "Fira Sans Extra Condensed", sans-serif;
  --font3: "Roboto", sans-serif;
}

body {
  font-family: var(--font3);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

h2 {
  font-weight: 900;
}

.container-fluid {
  max-width: 1200px;
}

.card {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  border: 0;
  border-radius: 1rem;
}
.card-body {
  flex: 1 1 auto;
  /* min-height: 1px; */
  padding: 1.25rem;
  max-height: 160px;
  margin-top: 15px;
}
.card-img,
.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}
.showingRecords {
  color: gray;
}

.card h5 {
  overflow: hidden;
  height: 40x;
  font-size: 1rem;
}

.card h2 {
  font-size: 1rem;
}

/* .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
} */


.label-top {
  position: absolute;
  background-color: #8bc34a;
  color: #fff;
  top: 8px;
  right: 8px;
  padding: 5px 10px 5px 10px;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
}
.cart {
  color: rgb(5 47 113);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  row-gap: 21px;
  column-gap: 15px;
}

.top-right span {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .card-img-top {
    max-height: 250px;
  }
}

.over-bg {
  background: rgba(53, 53, 53, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 50px 5px 50px;
}

.box .btn {
  font-size: 1.5rem;
}

@media (max-width: 1025px) {
  .btn {
    padding: 5px 40px 5px 40px;
  }
}

@media (max-width: 250px) {
  .btn {
    padding: 5px 30px 5px 30px;
  }
}

.btn-warning {
  background: none #f7810a;
  color: #ffffff;
  fill: #ffffff;
  border: none;
  text-decoration: none;
  outline: 0;
  box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
  border-radius: 100px;
}

.btn-warning:hover {
  background: none #ff962b;
  color: #ffffff;
  box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35);
}

.bg-success {
  font-size: 1rem;
  background-color: #f7810a !important;
}

.bg-danger {
  font-size: 1rem;
}

.price-hp {
  font-size: 1rem;
  font-weight: 600;
  color: darkgray;
}

.amz-hp {
  font-size: 0.7rem;
  font-weight: 600;
  color: darkgray;
}

.fa-question-circle:before {
  color: darkgray;
}

.fa-plus:before {
  color: darkgray;
}

.box {
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.box-img {
  max-width: 300px;
}

.thumb-sec {
  max-width: 300px;
}

@media (max-width: 576px) {
  .box-img {
    max-width: 200px;
  }

  .thumb-sec {
    max-width: 200px;
  }
}

.inner-gallery {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 1px;
  display: inline-block;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 370px) {
  .box .btn {
    padding: 5px 40px 5px 40px;
    font-size: 1rem;
  }
}

.disclaimer {
  font-size: 0.9rem;
  color: darkgray;
}

.related h3 {
  font-weight: 900;
}

footer {
  background: #212529;
  height: 80px;
  color: #fff;
}
.searchBar {
  position: relative;
  text-indent: 15px;
  border: none;
  height: 45px;
  border-radius: 0px;
  border-bottom: 2px solid lightgray;
  background-color: transparent;
  font-size: 25px;
}

.cartImg {
  width: 12%;
  color: rgb(5 47 113);
}
.form-select {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid lightgray;
  margin-top: 11%;
}

.modal-content {
  position: fixed;
  margin: auto;
  width: 400px;
  height: 100%;
  right: 0px;
  top: 0px;
}
.modal-header {
  background-color: black;
  color: white;
}
.continueshop {
  width: 100%;
  color: rgb(14 54 118);
  border: 1px solid;
  font-weight: bold;
}
.checkout {
  width: 100%;
  background: rgb(0 42 110);
  color: white;
}
.qtybtn {
  border: none;
  background: transparent;
}
.modal-body {
  overflow-y: scroll;
}
.cartHeading {
  color: gray;
  font-weight: bold;
}
.cartPrice {
  color: gray;
  font-weight: bold;
  min-width: 100px;
}
::ng-deep .page-item.active .page-link {
  z-index: 0;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.qtybtn {
  color: green;
}
.cart-notification {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #7038f8;
  float: right;
  cursor: pointer;
    position: absolute;
  position: absolute;
    top: 15px;
    right: 99px;
}

.notification-text {
  color: white;
  position: absolute;
  transform: translateY(-10%);
  width: inherit;
  text-align: center;
}

.shopimg {
  height: 155px;
}
.shopimg img {
  height: 150px;
  transition: 0.3s ease-in-out;
  object-fit: contain;
  padding: 10px;
}

.main-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.col-left {
  width: 20%;
  left: 0;
  background: #003a46;
  color: white;
}
.Product-row {
  margin-top: 20px;
}

.col-right {
  position: relative;
  width: 80%;
}
.header-row {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 27px 5px 0px 5px;
  align-items: center;
}

.left-header {
  display: inline-flex;
  padding-left: 30px;
  
}
.left-header img{
  max-width: 4%;
  height: 10%;
  margin-top: 1%;
}

.right-header {
  display: inline-flex;
}
.form-style {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid lightgray;
}
.cartInvoice{
  display: flex;
  justify-content: flex-end;
  column-gap: 25px;
}