<div class="p-container">
    <div class="header-row">
        <div class="title">Quality Check</div>
        <div>
            
        </div>
        <div class="download"><img src="../../assets/download.png"></div>
        <div class="filter"><img src="../../assets/filter_alt-24px.png"> Filter</div>
    </div>
    <div class="page-content">
        <div class="showList">
            <table class="table list-table">
                <thead>
                    <tr>
                        <th *ngFor="let head of headers" class="cursor-pointer" (click)="sortBy(head.name,head)">{{head.title}} <img *ngIf="head.sort" src="../../assets/arrow_drop_up-24px.png"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let purchase of purchases; let i= index">
                        <td>{{purchase.orderDate | date:"dd/MM/yyyy"}}</td>
                        <td class="venEdit">
                            <div [routerLink]="['/quality-check','view',purchase.id]" class="cursor-pointer">{{purchase.purchaseOrderCode}}</div>
                        </td>
                        <td>{{purchase.vendorName}}</td>
                        <td>{{purchase.receivedBy}}</td>
                        <td>{{purchase.totalAmount}}</td>
                        <td>{{purchase.dueDate | date:"dd/MM/yyyy"}}</td>
                        <td>
                            <div class="cell" [class]="purchase.status">{{purchase.purchaseOrderStatus}}</div>
                        </td>
                        <td>
                            <div class="controls">
                                <img class="more-btn" [routerLink]="['/quality-check','view',purchase.id]" src="../../assets/more_vert-24px @2x.png">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2 prodList-pagination" *ngIf="purchases?.length > 0">
                <!-- <div class="backToTop" (click)="scrollToTop(pageTop)">Back to Top</div> -->
                <div class="pagi">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="4" [pageSize]="pageSize" (pageChange)="refreshPages()"> </ngb-pagination>
                </div>
                <div class="pagesize">
                    <div for="pagesize list-label">Items per page</div>
                    <select class="form-control" id="pagesize" [(ngModel)]="pageSize" (change)="updatePageSize()" #pageSelect>
                        <option [value]="10">10</option>
                        <option [value]="25">25</option>
                        <option [value]="50">50</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
</div>